.coinBoard_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.coinBoard_row {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

.coinBoard_img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coinBoard_name {
    font-weight: bold;
    width: 100px;
}

.coinBoard_symbol {
    text-transform: uppercase;
    padding: 0 10px;
}

.coinBoard_price {
    padding: 0 10px;
}

.coinBoard_volume {
    padding: 0 10px;
}

.coinBoard_percent {
    padding: 0 10px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.coinBoard_btn {
    padding: 10px;
    background-color: darkslategray;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.coinBoard_btn:hover {
    color: lightgreen;
}

.chartRate_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.chartRate_select {
    padding: 5px;
    width: 100px;
    border-radius: 7px;
    cursor: pointer;
    background-color: antiquewhite;
    border: none;
    outline: none;
}
.chartRate_select:hover {
    color: lightsalmon;
}
