.coinBoard_container {
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.coinBoard_row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    text-align: center;
}

.coinBoard_row_coin-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
}

.coinBoard_img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coinBoard_name {
    font-weight: bold;
    margin-right: 10px;
}

.coinBoard_symbol {
    text-transform: uppercase;
}

.coinBoard_price {
    width: 100px;
    text-align: start;
}

.coinBoard_volume {
    width: 150px;
    text-align: start;
}

.coinBoard_percent {
    width: 100px;
    text-align: center;
    font-weight: 600;
}

.red {
    color: #ff0000;
}

.green {
    color: #00ff03;
}

.coinBoard_btn {
    padding: 10px;
    color: black;
    border: 1px solid #07bcb4;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    width: 100px;
}
.coinBoard_btn:hover {
    box-shadow: 5px 3px 3px grey;
}

.chartRate_container {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chartRate_select {
    width: 150px;
    margin-bottom: 15px;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    color: black;
    border: 1px solid #00d8ce;
    outline: none;
}
.chartRate_select:hover {
    box-shadow: 5px 3px 3px grey;
}
