.navigation-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: #07bcb4;
    color: white;
    font-weight: bold;
}

span :nth-child(1){
    margin-right: 20px;
}